<section class="no-col-padding columns-stretch content-middle">
  <div class="container">
    <div class="row">
      <a id="sc_anchor_plans" class="sc_anchor sc_anchor_default" title="Apartments Plans"
        data-icon="icon-floor" data-url=""></a>
      <div class="columns_wrap">
        <div class="column_container column-1_1">
          <div class="column-inner">
            <div class="height_large"></div>
            <div class="sc_content sc_content_default">
              <h6 class="sc_item_subtitle sc_content_subtitle sc_align_center sc_item_title_style_shadow">
                03
              </h6>
              <h2 class="sc_item_title sc_content_title sc_align_center sc_item_title_style_shadow">
                Apartments plans
              </h2>
            </div>
            <div class="height_tiny"></div>
            <div id="slider_plans" class="widget_area sc_widget_slider">
              <aside id="slider_plans_widget" class="widget widget_slider">
                <div class="slider_wrap slider_engine_swiper">
                  <div id="slider_plans_outer"
                    class="slider_swiper_outer slider_style_default slider_outer_nocontrols slider_outer_nopagination slider_outer_notitles slider_outer_one">
                    <div id="slider_plans_swiper"
                      class="slider_swiper swiper-slider-container slider_height_auto slider_nocontrols slider_nopagination slider_notitles slider_one slider_noresize"
                      data-ratio="370:208" data-interval="10000" data-effect="fade"
                      data-pagination="bullets" data-slides-per-view="1" data-slides-space="0">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" data-title="Monterey">
                          <div class="slide_content">
                            <div class="row">
                              <div class="columns_wrap">
                                <div class="column_container column-1_3">
                                  <div class="column-inner">
                                    <h4>
                                      <span class="trx_addons_accent">MONTEREY</span>
                                    </h4>
                                    <ul class="trx_addons_list trx_addons_list_parameters">
                                      <li>
                                        <strong>FLOOR</strong>
                                        <em>4</em>
                                      </li>
                                      <li>
                                        <strong>ROOMS</strong>
                                        <em>2</em>
                                      </li>
                                      <li>
                                        <strong>WINDOWS</strong>
                                        <em>4</em>
                                      </li>
                                      <li>
                                        <strong>TOTAL AREA, SQ.M.</strong>
                                        <em>76.94</em>
                                      </li>
                                      <li>
                                        <strong>PARKING</strong>
                                        <em>YES</em>
                                      </li>
                                      <li>
                                        <strong>PRICE</strong>
                                        <span class="trx_addons_accent">
                                          <em>
                                            $2000/m<sup>3</sup>
                                          </em>
                                        </span>
                                      </li>
                                    </ul>
                                    <div class="height_small">
                                    </div>
                                    <div class="sc_item_button sc_button_wrap">
                                      <a href="#"
                                        class="sc_button sc_button_default sc_button_size_normal sc_button_icon_left">
                                        <span class="sc_button_text">
                                          <span class="sc_button_title">Schedule a tour</span>
                                        </span>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="column_container column-2_3">
                                  <div class="column-inner">
                                    <figure>
                                      <div>
                                        <img src="/assets/images/01.jpg" alt="01" />
                                      </div>
                                    </figure>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide" data-title="Sea Breeze">
                          <div class="slide_content">
                            <div class="row">
                              <div class="columns_wrap">
                                <div class="column_container column-1_3">
                                  <div class="column-inner">
                                    <h4>
                                      <span class="trx_addons_accent">SEA BREEZE</span>
                                    </h4>
                                    <ul class="trx_addons_list trx_addons_list_parameters">
                                      <li>
                                        <strong>FLOOR</strong>
                                        <em>3</em>
                                      </li>
                                      <li>
                                        <strong>ROOMS</strong>
                                        <em>1</em>
                                      </li>
                                      <li>
                                        <strong>WINDOWS</strong>
                                        <em>3</em>
                                      </li>
                                      <li>
                                        <strong>TOTAL AREA, SQ.M.</strong>
                                        <em>46.80</em>
                                      </li>
                                      <li>
                                        <strong>PARKING</strong>
                                        <em>NO</em>
                                      </li>
                                      <li>
                                        <strong>PRICE</strong>
                                        <span class="trx_addons_accent">
                                          <em>$1200/m<sup>3</sup>
                                          </em>
                                        </span>
                                      </li>
                                    </ul>
                                    <div class="height_small">
                                    </div>
                                    <div class="sc_item_button sc_button_wrap">
                                      <a href="#"
                                        class="sc_button sc_button_default sc_button_size_normal sc_button_icon_left">
                                        <span class="sc_button_text">
                                          <span class="sc_button_title">Schedule a tour</span>
                                        </span>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="column_container column-2_3">
                                  <div class="column-inner">
                                    <figure>
                                      <div>
                                        <img src="/assets/images/02.jpg" alt="02" />
                                      </div>
                                    </figure>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide" data-title="Sunrise">
                          <div class="slide_content">
                            <div class="row">
                              <div class="columns_wrap">
                                <div class="column_container column-1_3">
                                  <div class="column-inner">
                                    <h4>
                                      <span class="trx_addons_accent">SUNRISE</span>
                                    </h4>
                                    <ul class="trx_addons_list trx_addons_list_parameters">
                                      <li>
                                        <strong>FLOOR</strong>
                                        5
                                      </li>
                                      <li>
                                        <strong>ROOMS</strong>
                                        5
                                      </li>
                                      <li>
                                        <strong>WINDOWS</strong>
                                        14
                                      </li>
                                      <li>
                                        <strong>TOTAL AREA, SQ.M.</strong>
                                        <em>158.88</em>
                                      </li>
                                      <li>
                                        <strong>PARKING</strong>
                                        <em>YES</em>
                                      </li>
                                      <li>
                                        <strong>PRICE</strong>
                                        <span class="trx_addons_accent">
                                          <em>$2500/m<sup>3</sup>
                                          </em>
                                        </span>
                                      </li>
                                    </ul>
                                    <div class="height_small">
                                    </div>
                                    <div class="sc_item_button sc_button_wrap">
                                      <a href="#"
                                        class="sc_button sc_button_default sc_button_size_normal sc_button_icon_left">
                                        <span class="sc_button_text">
                                          <span class="sc_button_title">Schedule a tour</span>
                                        </span>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="column_container column-2_3">
                                  <div class="column-inner">
                                    <figure>
                                      <div>
                                        <img src="/assets/images/03.jpg" alt="03" />
                                      </div>
                                    </figure>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
            <div class="height_large hide_on_mobile"></div>
            <div class="height_tiny"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-col-padding no-row-margin">
  <div class="container-fluid">
    <div class="row">
      <div class="columns_wrap">
        <div class="column_container column-1_1">
          <div class="column-inner phn">
            <div id="slider_controller_1311150448"
              class="sc_slider_controller sc_slider_controller_titles" data-slider-id="slider_plans"
              data-style="titles" data-controls="1" data-interval="0" data-effect="slide"
              data-slides-per-view="5" data-slides-space="0" data-height="123px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>