<section class="full-height-section no-col-padding columns-stretch content-middle bg_image_4 scheme_dark">
  <div class="container">
    <div class="row">
      <a id="sc_anchor_neiborhoods" class="sc_anchor sc_anchor_default" title="Apartment Neiborhoods"
        data-icon="icon-map" data-url=""></a>
      <div class="columns_wrap">
        <div class="column_container column-2_3 push-1_3">
          <div class="column-inner">
            <div class="height_large"></div>
            <div class="sc_content sc_content_default">
              <h6 class="sc_item_subtitle sc_content_subtitle sc_align_right sc_item_title_style_default">
                Apartment Neiborhoods
              </h6>
              <h2 class="sc_item_title sc_content_title sc_align_right sc_item_title_style_default">
                STUNNING LUXURY RENTAL APARTMENTS, DESIGNED FOR
                LIFE
              </h2>
              <div class="sc_content_container"></div>
            </div>
            <div class="cqtooltip-wrapper hotspots-style-1" data-opacity="1" data-tooltipanimation="grow"
              data-tooltipstyle="light" data-trigger="hover" data-maxwidth="240" data-marginoffset=""
              data-isdisplayall="off" data-displayednum="1">
              <img src="/assets/images/spacer-100x100.png" alt="" />
              <div class="cq-hotspots">
                <div class="hotspot-item pulse-white" data-top="31%" data-left="0%">
                  <a href="#" class="cq-tooltip"
                    data-tooltip='<span class="translation-chunk" data-align="0:10">SOUTH BRIDGE</span>'
                    data-arrowposition="">
                    <span></span>
                  </a>
                </div>
                <div class="hotspot-item pulse-white" data-top="33%" data-left="35%">
                  <a href="#" class="cq-tooltip" data-tooltip="NORTH BRIDGE" data-arrowposition="top">
                    <span></span>
                  </a>
                </div>
                <div class="hotspot-item pulse-white" data-top="36%" data-left="55%">
                  <a href="#" class="cq-tooltip" data-tooltip="PARLAMENT HOUSE" data-arrowposition="top">
                    <span></span>
                  </a>
                </div>
                <div class="hotspot-item pulse-white" data-top="50%" data-left="94%">
                  <a href="#" class="cq-tooltip" data-tooltip="PUBLIC LIBRARY" data-arrowposition="top">
                    <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>