<footer class="site_footer_wrap scheme_dark">
  <div class="copyright_wrap scheme_">
    <div class="copyright_wrap_inner">
      <div class="content_wrap">
        <div class="copyright_text">
          <a target="_blank" href="https://themerex.net/"> ThemeREX</a>© <span id="date"></span>
          . All rights reserved.
          <a target="_blank" href="http://themerex.net/terms-of-service/">Terms of use</a>
          and
          <a target="_blank" href="http://themerex.net/privacy-policy/">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>