<section
  class="full-height-section no-col-padding columns-stretch content-middle"
>
  <div class="container">
    <div class="row">
      <a
        id="sc_anchor_new_complex"
        class="sc_anchor sc_anchor_default"
        title="New Complex"
        data-icon="icon-note-2"
        data-url=""
      >
      </a>
      <div class="columns_wrap">
        <div class="column_container column-1_1">
          <div class="column-inner">
            <div class="height_large"></div>
            <div
              class="sc_promo sc_promo_modern sc_promo_size_large sc_promo_no_paddings sc_promo_image_position_right sc_promo_image_width_50p"
            >
              <div class="sc_promo_image_wrap">
                <div class="sc_promo_image bg_image_1"></div>
                <a class="sc_promo_link2" href="#">
                  <span>More</span>
                  <span>PHOTO</span>
                </a>
              </div>
              <div class="sc_promo_text">
                <div class="sc_promo_text_inner">
                  <h6
                    class="sc_item_subtitle sc_promo_subtitle sc_align_default sc_item_title_style_default"
                  >
                    Luxury Apartments
                  </h6>
                  <h2
                    class="sc_item_title sc_promo_title sc_align_default sc_item_title_style_default"
                  >
                    Introducing a new residential complex
                  </h2>
                  <div class="sc_item_descr sc_promo_descr sc_align_default">
                    Each apartments has been individually designed to maximise
                    space and light. Smart Home Technology installed as standard
                    in each apartment putting you in total control of your home
                    at the touch of a button from wherever you might be.
                  </div>
                  <div
                    class="sc_item_button sc_item_button_simple sc_promo_button sc_align_default sc_button_wrap"
                  >
                    <a
                      href="#"
                      class="sc_button sc_button_simple sc_button_size_normal sc_button_icon_left"
                    >
                      <span class="sc_button_text">
                        <span class="sc_button_title">Read more</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="height_large"></div>
            <div class="row">
              <div class="columns_wrap">
                <div class="column_container column-1_1 scheme_dark">
                  <div class="column-inner pn">
                    <div
                      id="sc_skills_1"
                      class="sc_skills sc_skills_counter"
                      data-type="counter"
                    >
                      <div
                        class="sc_skills_columns sc_item_columns trx_addons_columns_wrap columns_padding_bottom"
                      >
                        <div class="sc_skills_column trx_addons_column-1_4">
                          <div class="sc_skills_item_wrap">
                            <div class="sc_skills_item">
                              <div
                                class="sc_skills_total"
                                data-start="0"
                                data-stop="136"
                                data-step="13"
                                data-max="1250"
                                data-speed="26"
                                data-duration="272"
                                data-ed=""
                              >
                                0
                              </div>
                            </div>
                            <div class="sc_skills_item_title">
                              Luxe Apartments
                            </div>
                          </div>
                        </div>
                        <div class="sc_skills_column trx_addons_column-1_4">
                          <div class="sc_skills_item_wrap">
                            <div class="sc_skills_item">
                              <div
                                class="sc_skills_total"
                                data-start="0"
                                data-stop="355"
                                data-step="13"
                                data-max="1250"
                                data-speed="30"
                                data-duration="819"
                                data-ed=""
                              >
                                0
                              </div>
                            </div>
                            <div class="sc_skills_item_title">Bedrooms</div>
                          </div>
                        </div>
                        <div class="sc_skills_column trx_addons_column-1_4">
                          <div class="sc_skills_item_wrap">
                            <div class="sc_skills_item">
                              <div
                                class="sc_skills_total"
                                data-start="0"
                                data-stop="326"
                                data-step="13"
                                data-max="1250"
                                data-speed="15"
                                data-duration="376"
                                data-ed=""
                              >
                                0
                              </div>
                            </div>
                            <div class="sc_skills_item_title">Square Areas</div>
                          </div>
                        </div>
                        <div class="sc_skills_column trx_addons_column-1_4">
                          <div class="sc_skills_item_wrap">
                            <div class="sc_skills_item">
                              <div
                                class="sc_skills_total"
                                data-start="0"
                                data-stop="1225"
                                data-step="13"
                                data-max="1250"
                                data-speed="33"
                                data-duration="3110"
                                data-ed=""
                              >
                                0
                              </div>
                            </div>
                            <div class="sc_skills_item_title">
                              Happy Customers
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="height_large"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
