<section class="full-height-section no-col-padding columns-stretch content-middle bg_image_5">
  <div class="container">
    <div class="row">
      <a id="sc_anchor_news" class="sc_anchor sc_anchor_default" title="New & Articles"
        data-icon="icon-newspaper" data-url=""></a>
      <div class="columns_wrap">
        <div class="column_container column-1_1">
          <div class="column-inner phn">
            <div class="height_medium"></div>
            <div class="scheme_light sc_blogger sc_blogger_classic">
              <h6 class="sc_item_subtitle sc_blogger_subtitle sc_align_center sc_item_title_style_shadow">
                07
              </h6>
              <h2 class="sc_item_title sc_blogger_title sc_align_center sc_item_title_style_shadow">
                News & Articles
              </h2>
              <div
                class="sc_blogger_columns sc_item_columns trx_addons_columns_wrap columns_padding_bottom">
                <div class="trx_addons_column-1_3">
                  <div class="sc_blogger_item post">
                    <div class="post_featured with_thumb hover_dots sc_blogger_item_featured">
                      <img src="/assets/images/notices_01.jpg"
                        alt="Start of installation of water and heating systems" />
                      <div class="mask"></div>
                      <a href="#" aria-hidden="true" class="icons">
                        <span></span>
                        <span></span>
                        <span></span>
                      </a>
                    </div>
                    <div class="sc_blogger_item_content entry-content">
                      <div class="sc_blogger_item_header entry-header">
                        <h4 class="sc_blogger_item_title entry-title">
                          <a href="#" rel="bookmark">Start of installation of water and
                            heating systems</a>
                        </h4>
                        <div class="sc_blogger_post_meta post_meta">
                          <span class="post_meta_item post_date">
                            <a href="#">July 12, 2016</a>
                          </span>
                        </div>
                      </div>
                      <div class="sc_blogger_item_excerpt">
                        <div class="sc_blogger_item_excerpt_text">
                          <p>
                            Fusce metus nulla, efficitur id
                            convallis a, vestibulum eu dui. Nunc
                            ornare augue a laoreet vehicula.
                            Vestibulum ultrices nunc et
                            consequat pellentesque. Maecenas
                            placerat ornare pretium. Fusce
                            tincidunt turpis in diam imperdiet,
                            id mollis sem mollis. Duis ut arcu
                            quam. Sed sagittis tortor nisi, sit
                            amet imperdiet mauris eleifend et.
                            Aenean consectetur fringilla justo,
                            et pretium lectus. Vestibulum
                            consequat vestibulum&hellip;
                          </p>
                        </div>
                        <div class="sc_blogger_item_button sc_item_button">
                          <a href="#" class="sc_button sc_button_simple">Read more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trx_addons_column-1_3">
                  <div class="sc_blogger_item post">
                    <div class="post_featured with_thumb sc_blogger_item_featured">
                      <div
                        class="slider_swiper_outer slider_style_default slider_outer_controls slider_outer_controls_side slider_outer_pagination slider_outer_pagination_bullets slider_outer_notitles slider_outer_one">
                        <div
                          class="slider_swiper swiper-slider-container slider_controls slider_controls_side slider_pagination slider_pagination_bullets slider_notitles slider_one slider_noresize"
                          data-ratio="370:208" data-interval="8419" data-effect="slide"
                          data-pagination="bullets" data-slides-per-view="1" data-slides-space="0">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide slider_image_11"
                              data-image="/assets/images/image_09-370x208.jpg">
                            </div>
                            <div class="swiper-slide slider_image_12"
                              data-image="/assets/images/image_04-370x208.jpg">
                            </div>
                            <div class="swiper-slide slider_image_13"
                              data-image="/assets/images/image_12-370x208.jpg">
                            </div>
                            <div class="swiper-slide slider_image_14"
                              data-image="/assets/images/image_13-370x208.jpg">
                            </div>
                            <div class="swiper-slide slider_image_15"
                              data-image="/assets/images/image_11-370x208.jpg">
                            </div>
                          </div>
                          <div class="slider_controls_wrap">
                            <a class="slider_prev swiper-button-prev" href="#"></a>
                            <a class="slider_next swiper-button-next" href="#"></a>
                          </div>
                          <div class="slider_pagination_wrap swiper-pagination">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sc_blogger_item_content entry-content">
                      <div class="sc_blogger_item_header entry-header">
                        <h4 class="sc_blogger_item_title entry-title">
                          <a href="#" rel="bookmark">Installation of internal
                            engineering networks</a>
                        </h4>
                        <div class="sc_blogger_post_meta post_meta">
                          <span class="post_meta_item post_date">
                            <a href="#">July 6, 2016</a>
                          </span>
                        </div>
                      </div>
                      <div class="sc_blogger_item_excerpt">
                        <div class="sc_blogger_item_excerpt_text">
                          <p>
                            Morbi tincidunt odio eget nisi
                            commodo feugiat. Maecenas tincidunt
                            lorem nibh, vel euismod nunc
                            dignissim eu. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit.
                            Etiam bibendum et odio faucibus
                            mollis. Phasellus hendrerit
                            malesuada tincidunt. Nunc accumsan,
                            mauris ut aliquam blandit, neque
                            felis imperdiet leo, sed egestas
                            diam turpis id ligula. Curabitur
                            aliquam mi non justo malesuada, quis
                            mattis lectus feugiat.&hellip;
                          </p>
                        </div>
                        <div class="sc_blogger_item_button sc_item_button">
                          <a href="#" class="sc_button sc_button_simple">Read more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trx_addons_column-1_3">
                  <div class="sc_blogger_item post format-video">
                    <div class="post_featured with_thumb hover_play sc_blogger_item_featured">
                      <img src="/assets/images/image_05-370x208.jpg"
                        alt="Our sales office holiday schedule" />
                      <div class="mask"></div>
                      <div class="post_video_hover"
                        data-video='<iframe src="https://player.vimeo.com/video/152290999?autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>'>
                      </div>
                      <div class="post_video video_frame"></div>
                    </div>
                    <div class="sc_blogger_item_content entry-content">
                      <div class="sc_blogger_item_header entry-header">
                        <h4 class="sc_blogger_item_title entry-title">
                          <a href="#" rel="bookmark">Our sales office holiday schedule</a>
                        </h4>
                        <div class="sc_blogger_post_meta post_meta">
                          <span class="post_meta_item post_date">
                            <a href="#">July 4, 2016</a>
                          </span>
                        </div>
                      </div>
                      <div class="sc_blogger_item_excerpt">
                        <div class="sc_blogger_item_excerpt_text">
                          <p>
                            Vestibulum tincidunt fringilla
                            gravida. Sed risus augue, congue sed
                            ex et, ultrices mattis quam. Nulla
                            tincidunt, erat non condimentum
                            placerat, felis lacus blandit
                            tellus, vel eleifend lacus augue
                            vitae enim. Nam eget dui arcu.
                            Vivamus sed leo aliquet, tincidunt
                            tortor vel, accumsan mi.
                          </p>
                        </div>
                        <div class="sc_blogger_item_button sc_item_button">
                          <a href="#" class="sc_button sc_button_simple">Read more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="sc_item_button sc_item_button_default sc_blogger_button sc_align_center sc_button_wrap">
                <a href="#" class="sc_button sc_button_default sc_button_size_normal sc_button_icon_left">
                  <span class="sc_button_text">
                    <span class="sc_button_title">View All Articles</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="height_medium"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
