<section
  class="full-height-section no-col-padding columns-stretch content-middle bg_image_2"
>
  <div class="container">
    <div class="row">
      <a
        id="sc_anchor_photo_tour"
        class="sc_anchor sc_anchor_default"
        title="Photo Tour"
        data-icon="icon-home-2"
        data-url=""
      >
      </a>
      <div class="columns_wrap">
        <div class="column_container column-1_1">
          <div class="column-inner">
            <div class="height_large"></div>
            <div
              class="sc_promo sc_promo_default sc_promo_size_large sc_promo_no_paddings sc_promo_no_image"
            >
              <div class="sc_promo_text">
                <div class="sc_promo_text_inner">
                  <h6
                    class="sc_item_subtitle sc_promo_subtitle sc_align_center sc_item_title_style_shadow"
                  >
                    02
                  </h6>
                  <h2
                    class="sc_item_title sc_promo_title sc_align_center sc_item_title_style_shadow"
                  >
                    Photo tour
                  </h2>
                </div>
              </div>
            </div>
            <div class="height_medium"></div>
            <div class="widget_area sc_widget_slider">
              <aside class="widget widget_slider">
                <div class="slider_wrap slider_engine_swiper">
                  <div
                    class="slider_swiper_outer slider_style_modern slider_outer_controls slider_outer_controls_side slider_outer_pagination slider_outer_pagination_fraction slider_outer_notitles slider_outer_one"
                  >
                    <div
                      class="slider_swiper swiper-slider-container slider_height_auto slider_controls slider_controls_side slider_pagination slider_pagination_fraction slider_notitles slider_one mh530"
                      data-ratio="1170:658"
                      data-interval="7000"
                      data-effect="slide"
                      data-pagination="fraction"
                      data-slides-per-view="1"
                      data-slides-space="0"
                    >
                      <div class="swiper-wrapper">
                        <div
                          class="swiper-slide slider_image_1"
                          data-image="/assets/images/image_01-1170x658.jpg"
                          data-cats='<a href="#" rel="category tag">Apartment</a>, <a href="#" rel="category tag">Environment</a>, <a href="#" rel="category tag">Interior</a>'
                          data-title="The planned price increase"
                          data-date="July 1clear, 2016"
                        >
                          <a href="#" class="slide_link"></a>
                        </div>
                        <div
                          class="swiper-slide slider_image_2"
                          data-image="/assets/images/image_02-1170x658.jpg"
                          data-cats='<a href="#" rel="category tag">Interior</a>, <a href="#" rel="category tag">Process</a>, <a href="#" rel="category tag">Visualizing Complex</a>'
                          data-title="Start of installation of water and heating systems"
                          data-date="July 12, 2016"
                        >
                          <a href="#" class="slide_link"></a>
                        </div>
                        <div
                          class="swiper-slide slider_image_3"
                          data-image="/assets/images/image_03-1170x658.jpg"
                          data-cats='<a href="#" rel="category tag">Apartment</a>, <a href="#" rel="category tag">Interior</a>, <a href="#" rel="category tag">Views</a>'
                          data-title="The second roof of Windsor is done"
                          data-date="July 9, 2016"
                        >
                          <a href="#" class="slide_link"></a>
                        </div>
                        <div
                          class="swiper-slide slider_image_4"
                          data-image="/assets/images/image_04-1170x658.jpg"
                          data-cats='<a href="#" rel="category tag">Environment</a>, <a href="#" rel="category tag">Interior</a>, <a href="#" rel="category tag">Process</a>, <a href="#" rel="category tag">Views</a>'
                          data-title="Our sales office holiday schedule"
                          data-date="July 4, 2016"
                        >
                          <a href="#" class="slide_link"></a>
                        </div>
                        <div
                          class="swiper-slide slider_image_5"
                          data-image="/assets/images/image_5-1170x658.jpg"
                          data-cats='<a href="#" rel="category tag">Interior</a>, <a href="#" rel="category tag">Process</a>, <a href="#" rel="category tag">Visualizing Complex</a>'
                          data-title="At your service: The Windsor concierge"
                          data-date="July 2, 2016"
                        >
                          <a href="#" class="slide_link"></a>
                        </div>
                      </div>
                    </div>
                    <div class="slider_controls_wrap">
                      <a class="slider_prev swiper-button-prev" href="#">
                        <span class="slider_controls_label">
                          <span>Prev</span>
                          <span>PHOTO</span>
                        </span>
                      </a>
                      <a class="slider_next swiper-button-next" href="#">
                        <span class="slider_controls_label">
                          <span>Next</span>
                          <span>PHOTO</span>
                        </span>
                      </a>
                    </div>
                    <div class="slider_pagination_wrap swiper-pagination"></div>
                  </div>
                </div>
              </aside>
            </div>
            <div class="height_large"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
