<section class="no-col-padding columns-stretch content-middle">
  <div class="container">
    <div class="row">
      <a
        id="sc_anchor_film"
        class="sc_anchor sc_anchor_default"
        title="Lifestyle films"
        data-icon="icon-video-2"
        data-url=""
      >
      </a>
      <div class="columns_wrap">
        <div class="column_container column-1_1">
          <div class="column-inner">
            <div class="height_medium"></div>
            <div class="sc_content sc_content_default">
              <h6
                class="sc_item_subtitle sc_content_subtitle sc_align_center sc_item_title_style_shadow"
              >
                05
              </h6>
              <h2
                class="sc_item_title sc_content_title sc_align_center sc_item_title_style_shadow"
              >
                Lifestyle film
              </h2>
            </div>
            <div class="height_tiny"></div>
            <div id="slider_video" class="widget_area sc_widget_slider">
              <aside id="slider_video_widget" class="widget widget_slider">
                <div class="slider_wrap slider_engine_swiper">
                  <div
                    id="slider_video_outer"
                    class="slider_swiper_outer slider_style_modern slider_outer_controls slider_outer_controls_side slider_outer_nopagination slider_outer_titles_outside slider_outer_one"
                  >
                    <div
                      id="slider_video_swiper"
                      class="slider_swiper swiper-slider-container slider_height_auto slider_controls slider_controls_side slider_nopagination slider_titles_outside slider_one mh430"
                      data-ratio="1170:658"
                      data-interval="10000"
                      data-effect="slide"
                      data-pagination="fraction"
                      data-slides-per-view="1"
                      data-slides-space="0"
                    >
                      <div class="swiper-wrapper">
                        <div
                          class="swiper-slide slider_image_6"
                          data-image="/assets/images/image_06-1170x658.jpg"
                          data-cats="Interior"
                          data-title="Apartments presentation"
                        >
                          <div
                            class="trx_addons_video_player with_cover hover_play"
                          >
                            <div class="video_mask"></div>
                            <div
                              class="video_hover"
                              data-video='<iframe width="1170" height="658" src="https://www.youtube.com/embed/nzfI4oiG2BM?feature=oembed&autoplay=1" frameborder="0" allowfullscreen>'
                            >
                            </div>
                            <div class="video_embed video_frame"></div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide slider_image_7"
                          data-image="/assets/images/image_11-1170x658.jpg"
                          data-cats="Life style"
                          data-title="Visualizing Complex"
                        >
                          <div
                            class="trx_addons_video_player with_cover hover_play"
                          >
                            <div class="video_mask"></div>
                            <div
                              class="video_hover"
                              data-video='<iframe width="1170" height="658" src="https://www.youtube.com/embed/Su5xwCwwRKU?feature=oembed&autoplay=1" frameborder="0" allowfullscreen>'
                            >
                            </div>
                            <div class="video_embed video_frame"></div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide slider_image_8"
                          data-image="/assets/images/image_08-1170x658.jpg"
                          data-cats="Environment"
                          data-title="Building progress"
                        >
                          <div
                            class="trx_addons_video_player with_cover hover_play"
                          >
                            <div class="video_mask"></div>
                            <div
                              class="video_hover"
                              data-video='<iframe width="560" height="315" src="https://www.youtube.com/embed/wHJkOPnnJbs?autoplay=1" frameborder="0" allowfullscreen>'
                            >
                            </div>
                            <div class="video_embed video_frame"></div>
                          </div>
                        </div>
                        <div
                          class="swiper-slide slider_image_9"
                          data-image="/assets/images/image_09-1170x658.jpg"
                          data-cats="Progress"
                          data-title="Interior views"
                        >
                          <div
                            class="trx_addons_video_player with_cover hover_play"
                          >
                            <div class="video_mask"></div>
                            <div
                              class="video_hover"
                              data-video='<iframe width="1170" height="658" src="https://www.youtube.com/embed/x2wyW1LsVfY?feature=oembed&autoplay=1" frameborder="0" allowfullscreen>'
                            >
                            </div>
                            <div class="video_embed video_frame"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="slider_titles_outside_wrap">
                      <div class="slide_info slide_info_small">
                        <h3 class="slide_title">Apartments presentation</h3>
                        <div class="slide_cats">Interior</div>
                      </div>
                      <div class="slide_info slide_info_small">
                        <h3 class="slide_title">
                          <a href="#">Visualizing Complex</a>
                        </h3>
                        <div class="slide_cats">Life style</div>
                      </div>
                      <div class="slide_info slide_info_small">
                        <h3 class="slide_title">Building progress</h3>
                        <div class="slide_cats">Environment</div>
                      </div>
                      <div class="slide_info slide_info_small">
                        <h3 class="slide_title">Interior views</h3>
                        <div class="slide_cats">Progress</div>
                      </div>
                    </div>
                    <div class="slider_controls_wrap">
                      <a class="slider_prev swiper-button-prev" href="#">
                        <span class="slider_controls_label">
                          <span>Prev</span>
                          <span>VIDEO</span>
                        </span>
                      </a>
                      <a class="slider_next swiper-button-next" href="#">
                        <span class="slider_controls_label">
                          <span>Next</span>
                          <span>VIDEO</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
            <div class="height_medium"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-col-padding no-row-margin scheme_dark">
  <div class="container">
    <div class="row">
      <div class="columns_wrap">
        <div class="column_container column-1_1">
          <div class="column-inner ph10p">
            <div class="height_small"></div>
            <div id="slider_controller_2070836693"
              class="sc_slider_controller sc_slider_controller_thumbs" data-slider-id="slider_video"
              data-style="thumbs" data-controls="0" data-interval="0" data-effect="slide"
              data-slides-per-view="4" data-slides-space="20" data-height="100px">
            </div>
            <div class="height_small"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>