<div class="page_content_wrap scheme_default">
  <div class="content">
    <article class="post_item_single page">
      <div class="post_content entry-content">
        <slot />
      </div>
    </article>
  </div>
</div>