<div class="menu_mobile_overlay"></div>
<div class="menu_mobile scheme_dark">
  <div class="menu_mobile_inner">
    <a class="menu_mobile_close icon-cancel"></a>
    <a class="logo" href="#">
      <img
        src="/assets/images/logo.png"
        class="logo_main"
        alt=""
        width="132"
        height="127"
      />
    </a>
    <nav class="menu_mobile_nav_area">
      <ul id="menu_mobile" class="menu_mobile_nav">
        <li class="menu-item current-menu-item current_page_item">
          <a href="index.html">Home</a>
        </li>e
        <li class="menu-item menu-item-has-children">
          <a href="#">Pages</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="pages-pricing.html">Pricing table</a>
            </li>
            <li class="menu-item">
              <a href="pages-about.html">About Us</a>
            </li>
            <li class="menu-item">
              <a href="pages-team.html">Our team</a>
            </li>
            <li class="menu-item">
              <a href="pages-services.html">Services</a>
            </li>
            <li class="menu-item">
              <a href="pages-404.html">Page 404</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#">Features</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="features-typography.html">Typography</a>
            </li>
            <li class="menu-item">
              <a href="features-shortcodes.html">Shortcodes</a>
            </li>
            <li class="menu-item">
              <a href="features-events.html">Events</a>
            </li>
            <li class="menu-item menu-item-object-forum">
              <a href="features-forum.html">Forum</a>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Help</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="features-help-support.html">Support</a>
                </li>
                <li class="menu-item">
                  <a href="features-help-customization.html">Customization</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="gallery.html">Gallery</a>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#">Blog</a>
          <ul class="sub-menu">
            <li class="menu-item menu-item-has-children">
              <a href="#">Style &#8216;Chess&#8217;</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="blog-chess-2-columns.html">2 columns</a>
                </li>
                <li class="menu-item">
                  <a href="blog-chess-4-columns.html">4 columns</a>
                </li>
                <li class="menu-item">
                  <a href="blog-chess-6-columns.html">6 columns</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Style &#8216;Classic&#8217;</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="blog-classic-2-columns.html">2 columns</a>
                </li>
                <li class="menu-item">
                  <a href="blog-classic-3-columns.html">3 columns</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="blog-post-formats.html">Post formats</a>
            </li>
            <li class="menu-item">
              <a href="blog-standard-post.html">Single Post with Comments</a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="rent.html">Rent</a>
        </li>
        <li class="menu-item">
          <a href="contacts.html">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="search_mobile">
      <div class="search_form_wrap">
        <form role="search" method="get" class="search_form" action="#">
          <input
            type="text"
            class="search_field"
            placeholder="Search ..."
            value=""
            name="s"
          />
          <button
            type="submit"
            class="search_submit icon-search"
            title="Start search"
          >
          </button>
        </form>
      </div>
    </div>
    <div class="socials_mobile">
      <span class="social_item">
        <a href="#" target="_blank" class="social_icons social_twitter">
          <span class="trx_addons_icon-twitter"></span>
        </a>
      </span>
      <span class="social_item">
        <a href="#" target="_blank" class="social_icons social_facebook">
          <span class="trx_addons_icon-facebook"></span>
        </a>
      </span>
      <span class="social_item">
        <a href="#" target="_blank" class="social_icons social_instagram">
          <span class="trx_addons_icon-instagram"></span>
        </a>
      </span>
    </div>
  </div>
</div>
